body {
  overflow: hidden;
}

.img-box {
  flex: 1;
	background-position: center;
	background-repeat: no-repeat;
	transition: 1s;
  filter: grayscale(0.8);
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 10px 15px 30px 6px rgba(34, 60, 80, 0.8) inset;
  -moz-box-shadow: 10px 15px 30px 6px rgba(34, 60, 80, 0.8) inset;
  box-shadow: 10px 15px 30px 6px rgba(34, 60, 80, 0.8) inset;
}

.img-box:hover {
	flex-grow: 3;
	filter: grayscale(0) contrast(120%);
  opacity: 1;
}

.container {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.container-images {
	width: 100%;
	height: 500px;
	flex: 3;
	display: flex;
  border: 1px solid #d6d6d6;
  overflow: hidden;
}

.bor-top-bottom::before,
.bor-top-bottom::after {
	content: '';
	position: absolute;
	background-color: #ffffff;
	opacity: .3;
	transition: 1s;
}

.img-box:hover .bor-top-bottom::before,
.img-box:hover .bor-top-bottom::after {
	transition: 1s;
	opacity: .7;
	transition-delay: 0.3s;
}

.img-box:hover .bor-top-bottom::before {
	transform: translateX(100%) scaleX(-2);
}
.img-box:hover .bor-top-bottom::after {
	transform: translateX(-100%) scaleX(-2);
}

.bor-top-bottom::before {
	width: 100%;
	height: 2px;
	top: 10px;
	left: 0;
}
.bor-top-bottom::after {
	width: 100%;
	height: 2px;
	bottom: 10px;
	left: 0;
}

.content-title {
	color: #ffffff;
	background-color: rgb(135, 57, 180);
	opacity: .7;
	font-family: Roboto,sans-serif;
	font-size: 24px;
	width: 45%;
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 15px;
	box-sizing: border-box;
	-webkit-transform: translateY(-120%);
	-moz-transform: translateY(-120%);
	-ms-transform: translateY(-120%);
	-o-transform: translateY(-120%);
	transform: translateY(-120%);
	transition: 0.5s;
}

.content-text {
	color: #ffffff;
	background-color: rgb(11, 11, 11);
	opacity: .7;
	font-family: Roboto,sans-serif;
	font-size: 14px;
  width: 45%;
  height: 90%;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 15px;
	box-sizing: border-box;
	-webkit-transform: translateY(120%);
	-moz-transform: translateY(120%);
	-ms-transform: translateY(120%);
	-o-transform: translateY(120%);
	transform: translateY(120%);
	transition: 0.5s;
}

.content-text a {
  color: #ffffff;
  font-family: Roboto,sans-serif;
	font-size: 24px;
  text-align: justify ;
  text-decoration: none;
}

.content-text p {
  color: #ffffff;
  font-family: Roboto,sans-serif;
	font-size: 16px;
  text-decoration: none;
  padding-top: 10px;
  margin: 0;
}

.img-box:hover .content-title {
	transform: translateY(0);
	transition-delay: 1s;
}

.img-box:hover .content-text {
	transform: translateY(0);
	transition-delay: 1s;
}

.panel1 { background-image:url(img/TGL1.png); }
.panel2 { background-image:url(img/Vertex.png); }
.panel3 { background-image:url(img/TGL2.png); }

@media only screen and (max-width: 1200px) {
	.content-text {
    font-size: 10px;
    overflow: auto;
	}
	.content-text p {
		font-size: 12px;
  }
  .content-text a {
		font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .content-title {
		font-size: 12px;
  }
	.content-text {
    font-size: 8px;
    overflow: auto;
	}
	.content-text p {
		font-size: 10px;
  }
  .content-text a {
		font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .content-title {
    width: 40%;
		font-size: 10px;
  }
	.content-text {
    font-size: 8px;
    overflow: auto;
    width: 45%;
    height: 85%;
    bottom: 10px;
    right: 10px;
    padding: 10px;
	}
	.content-text p {
		font-size: 10px;
  }
  .content-text a {
		font-size: 10px;
  }
}

 @media only screen and (max-width: 480px) {
  .content-title {
    width: 30%;
		font-size: 8px;
  }
	.bor-top-bottom::before {
		top: 2px;
	}
	.bor-top-bottom::after {
		bottom: 2px;
	}
	.content-text {
    font-size: 6px;
    width: 45%;
    height: 85%;
    bottom: 5px;
    right: 5px;
    padding: 5px;
	}
	.content-text p {
		font-size: 8px;
  }
  .content-text a {
		font-size: 8px;
  }
}